@{
    ViewBag.Title = "About";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}


<div class="bg-about">
    <div class="centered pt-5">
        <div class="text-center">
            <h1 class="title">
               
            </h1>

            
        </div>

    </div>
</div>
<section style="background-color:white">
    <div class="container pt-5 justify-content-center d-flex align-item-center">
        <div class="row">
            <div class="col-md-7">
                <h2 class="text-center mb-3">mr-muhamedalnajar</h2>
                <p style="font-size:20px">
                    <br />
                    Mohammed Ahmed Mahmoud Al-Najjar<br />
                    I hold ielts certificate,toeic and  toefl<br />
                    Bachelor of Education and Arts<br />
                    Cambridge Certificate in Basic English Language Skills and Educational Progress<br />
                </p>

                
                
                
                <p>
                    <h1>
                        mr-muhamedalnajar's vision
                    </h1>
                    The right kind of education is not concerned with any ideology,
                    however much it may promise a future utopia: it is not based on any system,
                    however carefully thought out, nor is it a means of conditioning the individual in some special manner.
                    Education in the true sense is helping the individual to be mature and free, to flower greatly in love and goodness.
                    That is what we should be interested in, and not in shaping the child according to some idealistic pattern.
                    The highest function of education is to bring about an
                    integrated individual who is capable of dealing with life as a whole.
                </p>

            </div>
            <div class="col-md-5 mt-5">
                <div style="width: 100%;">
                    <img class="img-about" style="width:80%" src="../Images/mrbahaa/65727624-158d-4740-9747-c70840d1f947.jpg">
                </div>
            </div>
        </div>

    </div>
</section>
<section style="background-color:white" class="pb-5">
    <div class="container pt-5">
        <div class="row justify-content-center mb-5 pb-2 mt-5">
            <div class="col-md-8 text-center">
                <h2 class="mb-4">Contact With mr-muhamedalnajar</h2>



            </div>
        </div>
        <div class="row d-flex justify-content-center">
          
            <div class=" col-md-6 col-lg-4 mt-sm-5 mt-md-0 d-flex ">
                <img class="img-contact" src="../Images/mrbahaa/facebook.png" />
                <div class="mt-4 pl-3">
                    <h6>or facebbok</h6>
                    <p>مركز مستر محمد النجار للغة الانجليزية</p>
                </div>

            </div>
            <div class=" col-md-6 col-lg-4 mt-sm-5 mt-md-5 mt-lg-0 d-flex ">
                <img class="img-contact" src="../Images/mrbahaa/phone.png" />
                <div class="mt-4 pl-3">
                    <h6>of call mr-muhamedalnajar</h6>
                    <p></p>
                </div>

            </div>
        </div>
    </div>
</section>