@{
    ViewBag.Title = "Forgot Password Confirmation";
}
    <div class="container mb-4">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6  mx-auto justify-content-center">
                <div class="card  my-5 shadow-lg p-3 mb-5 bg-white rounded justify-content-center">
                    <div class="justify-content-center pl-5">
                        <hgroup class="title">
                            <h1>@ViewBag.Title.</h1>
                        </hgroup>
                    </div>
                  
                    <div>
                        <p>
                            Please check your email to reset your password.
                        </p>
                    </div>

</div>
</div>
</div>
</div>