
@{
    ViewBag.Title = "timeout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6  mx-auto justify-content-center">
            <div class="card  my-5 shadow-lg p-3 mb-5 bg-white rounded justify-content-center">
                <div class="justify-content-center pl-5">
                    <h2 class="p-4">عذرا لقد مر اسبوع علي فتحك لهذه الحصه لذالك اغلقت  </h2>
                    <h2 class="p-4">لفتح الحصه الرجاءالاتصال بالدعم  علم انه سوف يتم فتح الحصه لك لمره واحده  </h2>
                    <h2 class="p-4">يرجي العلم ان سوف يتم فتح جميع الحصص في فتره المراجعه  </h2>





                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

